{% extends "::base.html.twig" %}

{% block title %}MOMovieBundle:Timeline{% endblock %}

{% block breadcumb %}
    {{parent()}}
    <li>Timeline</li>
{% endblock %}

{% block body %}

    <div class="panel panel-info">
        <div class="panel-heading">
            Voir une série de films
        </div>
        <div class="panel-body">
            {{form_javascript(form)}}
            {{form(form)}}
        </div>
    </div>


    <h1>S&eacute;rie de films</h1>

    <div class="row">
        {% for serie in series %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% set cinemas = serie.getCinemas() %}
                    {% if cinemas|length == 1 %}
                        {% set performances = serie.getPerformances() %}
                        <h3>{{cinemas|first}}{% if performances|length == 1 %} - {{performances|first}}{% endif %}</h3>
                    {% endif %}
                    <h4>{{serie.getStartDate()|date('H\\hi d/m/Y')}} - {{serie.getEndDate()|date('H\\hi d/m/Y')}}</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for performance in serie.performances %}
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="thumbnail">
                                        <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <img class="img-responsive img-rounded" src="{{performance.movie.imageUrl}}"/>
                                        </div>
                                        <div class="col-xs-9 col-sm-9 col-md-9">
                                            <h4><a href="{{performance.movie.pageUrl}}" target="_blank">{{performance.movie.name}} {{performance.version}}{% if performance.kind == '3D'%} 3D{% endif %}</a></h4>
                                            <h4>{{performance.cinema.name}} {{performance.hall.name}}</h4>
                                            <h5>{{performance.startDate|date('H\\hi d/m/Y')}} - {{performance.endDate|date('H\\hi d/m/Y')}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <h3>Aucun résultat</h3>
        {% endfor %}
    </div>
{% endblock %}
