{% extends "::base.html.twig" %}

{% block title %}Movie Marathon - {{ movie.name }}{% endblock %}


{% block breadcumb %}
    {{parent()}}
    {% if movie %}
    <li>{{movie.name}}</li>
    {% endif %}
{% endblock %}


{% block body %}
    {% if movie %}
        <h1>{{movie.name}}</h1>
        <div class="row">
            {% for performance in movie.performances %}
                <div class="col-xs-12">

                    <div class="col-xs-3">
                        {{performance.cinema.name}} {{performance.kind}}
                    </div>

                    <div class="col-xs-3">
                        {{performance.hall.name}}
                    </div>

                    <div class="col-xs-3">
                        {{performance.startDate|date('Y-m-d H:i')}}
                    </div>

                    <div class="col-xs-3">
                        {{performance.endDate|date('Y-m-d H:i')}}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-danger">
            Aucun film sélectionné
        </div>
    {% endif %}
{% endblock %}
