<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!--<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>-->
            <!--<link rel="stylesheet" type="text/css" href="https://bootswatch.com/slate/bootstrap.min.css"/>-->
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.6/select2.min.css"/>

            {% stylesheets
                '../app/Resources/public/css/*.css'
                '@MOMovieBundle/Resources/public/css/*' filter='cssrewrite' output='css/compiled/main.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" language="javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.6/select2.min.js"></script>
        {% endblock %}

        {% block googleAnalytics %}
            {% if app.environment == 'prod' %}
                <script>
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                    ga('create', 'UA-27712930-3', 'elendev.com');
                    ga('send', 'pageview');

                </script>
            {% endif %}
        {% endblock %}

    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">MoMa</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="{% block home_class %}{% endblock %}"><a href="{{ path('mo_movie.home') }}">Home</a></li>
                        <li class="{% block movie_list_class %}{% endblock %}"><a href="{{ path('mo_movie.movie_list') }}">Films</a></li>
                        <li class="{% block timeline_class %}{% endblock %}"><a href="{{ path('mo_movie.movie_timeline') }}">Marathon</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{cities[currentCity]}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for key, city in cities %}
                                    <li><a href="{{path('mo_movie.home', {'city' : key})}}">{{city}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="container">
                <h1 class="main-title">Movie Marathon</h1>
                <p class="lead">
                    Organisation de rush de s&eacute;ances cin&eacute; - Uniquement avec Pathe.ch pour le moment
                </p>
            </div>
        </div>

        {% block upper_body %}{% endblock %}

        <div class="container">
            <ol class="breadcrumb">
                {% block breadcumb %}
                    <li><a href="{{path('mo_movie.home')}}">Home</a></li>
                {% endblock %}
            </ol>
            {% block body %}{% endblock %}

        </div>

        <hr>
        <div class="container">
            <div class="footer">
                <p class="pull-left">Elendev's copyrights</p><p class="pull-right">Dernière mise à jour des données : {{ lastCacheUpdate|date('H\\hi d/m/Y') }}</p>
            </div>
        </div>
    </body>
</html>
