
{% macro displaySerie(serie) %}
    <div class="serie panel panel-default">
        <div class="panel-heading">
            {% set cinemas = serie.getCinemas() %}
            {% if cinemas|length == 1 %}
                {% set performances = serie.getPerformances() %}
                <h3>{{cinemas|first}}{% if performances|length == 1 %} - {{performances|first}}{% endif %}</h3>
            {% endif %}
            {% if serie.getStartDate()|date('Y-m-d') == serie.getEndDate()|date('Y-m-d')%}
                <h4>{{serie.getStartDate()|date('H\\hi')}} - {{serie.getEndDate()|date('H\\hi')}} {{serie.getStartDate()|localizeddate('full', 'none', app.request.locale, none, "eeee d MMMM Y")}}</h4>
            {% else %}
                <h4>{{serie.getStartDate()|localizeddate('full', 'none', app.request.locale, none, "HH'h'mm eeee d MMMM Y")}} - {{serie.getEndDate()|localizeddate('full', 'none', app.request.locale, none, "HH'h'mm eeee d MMMM Y")}}</h4>
            {% endif %}
        </div>
        <div class="panel-body">
            <div class="row">
                {% for performance in serie.performances %}
                    {% if loop.length == 2 %}
                        {% set class = "col-xs-12 col-sm-6" %}
                    {% elseif loop.length == 3 %}
                        {% set class = "col-xs-12 col-sm-6 col-md-4" %}
                    {% else %}
                        {% set class = "col-xs-12 col-sm-6 col-md-4 col-lg-3" %}
                    {% endif %}
                    <div class="{{ class }}">
                        <div class="thumbnail">
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <img class="img-responsive img-rounded" src="{{performance.movie.imageUrl}}"/>
                                </div>
                                <div class="col-xs-9 col-sm-9 col-md-9">
                                    <h4><a href="{{performance.movie.pageUrl}}" target="_blank">{{performance.movie.name}} {{performance.version}}{% if performance.kind == '3D'%} 3D{% endif %}</a></h4>
                                    <h4>{{performance.cinema.name}} {{performance.hall.name}}</h4>
                                    <h5>{{performance.startDate|date('H\\hi')}} - {{performance.endDate|date('H\\hi')}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}